#frame{
    position: absolute;
    background-color: floralwhite;
    width: 100%;
    height: 100%;
}
#content {
    color: white;
    width: auto;
    height: auto;
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 60px;
    margin: 20px 20px;
    background-color: #4CAF50;
}
#responseBlock{
    background-color: #3e8e41;
    width: 600px;
    height: 230px;
    padding: 12px 16px;
    margin: 20px;
    position: relative;
    border: 1px solid navajowhite;
    overflow: auto;
    vertical-align: bottom;
}
h3{
    margin: 10px;
}
.row{
    display: inline-block;
    color: black;
}
.row-btn {
    display: inline-block;
    float:right;
    background-color: #3e8e41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: white solid 2px;
}
#answerBlock{
    width: auto;
    height: auto;
    margin: 5px;
    background-color: white;
}

#commandForm {
    position: relative;
    display: inline-block;
    background-color: #3e8e41;
    padding: 12px 16px;
    margin: 20px;
    text-decoration: none;
    vertical-align: top;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3e8e41;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 12px 16px;
    margin: 10px 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}